* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  padding: 50px;
}

.color {
  width: 100%;
  background: yellow;
  height: 500px;
}

.card-pikachu {
  width: 300px;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin: 0 auto;
}

.card-pikachu img {
  width: 100%;
}

.card-pikachu button {
  background: lightgreen;
  padding: 8px 9px;
  margin-top: 19px;
  border: none;
  border-radius: 6px;
}

